<div id="receivership" class="container-fluid">
  <div class="row">
      <div class="col-lg-6">
          <div class="my-secondary">
      <h1>RECEIVERSHIP SERVICES</h1>
    </div>
    <div class="mypad my-primary">
      <p>
        Adrian Young's organization provides a full range of expert receivership
        support services and real estate services. Valuable knowledge and
        experience in the local business culture, life style and politics of
        this area allow for strong personal and business relationships with
        institutional lenders, brokers, leasing agents, subcontractors and
        vendors in this area.
      </p>

      <p>
        Statewide assignments that include office, industrial, multi-family and
        retail properties are handled by this organization. A skilled management
        and administrative staff that has a solid track record in preservation
        and enhancement of Receivership properties support the Receiver. Our
        experience in dealing with daily operations and monthly financial
        reporting coupled with our knowledge of space planning, tenant
        improvement and building design only supports our reputation for
        aggressive marketing and negotiating.
      </p>

      <p>
        The Receiver makes all decisions for receivership properties within the
        scope of authority determined by the courts as well as providing
        consistent and efficient reporting to the courts and all the parties
        involved.
      </p>

      <p>
        <strong
          >The following is a partial list of the receivership services our team
          can perform:</strong
        >
      </p>
      <ul>
        <li>Takeover Team - Tenant Relations</li>
        <li>Marketing and Leasing Coordination - Staffing</li>
        <li>Tenant Improvement Supervision - Capital Improvements</li>
        <li>Accounting - Parking Operations</li>
      </ul>
    </div>
  </div>
</div>
</div>
