<div id="footer" class="container-fluid  my-info mypad">
  <div class="row">
    <div class="col-md-7 mypad">
      CA Dept of Real Estate Lic# 01225119
      <br />
      <br />
      Copyright 2019 by Delmar Group & Delmar Commercial Real Estate & Delmar Property Management & Delmar Receivership
      <br />
      <br />
<!--       <br />
      <br />
      <br />
      <br />
      <br />
 -->    </div>
<!--     <div class="col-md-6 mypad">CA Dept of Real Estate Lic# 01225119</div> -->
  </div>
</div>
