<div id="links" class="container-fluid" >
  <div class="row">
    <div class="col-lg-3 my-secondary">
      <br>
      <h3>USEFUL LINKS</h3></div>

    <div class="col-lg-6 mypad my-primary">
      <p>
        <strong
          >The following links may be of assistance in your commercial real
          estate ventures.</strong
        >
      </p>
      <ul>
        <li>
          Consumer Price Indexes:
          <a class="anchorlinktext" href="http://www.bls.gov/cpi/home.htm" target="_blank"
            >http://www.bls.gov/cpi/home.htm</a
          >
        </li>
        <li>
          LoopNet Property Search:
          <a class="anchorlinktext" href="http://www.loopnet.com" target="_blank"
            >http://http://www.loopnet.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
