<div id="commercial" class="container-fluid">
  <div class="row">
      <div class="col-lg-7">
          <div class="my-secondary mypad">
              <h1>COMMERCIAL REAL ESTATE SERVICES</h1>
        </div>
        <div class="mypad my-primary">
      <h3>Here we list some commercial real estate services</h3>
      <p>
        Lorem ipsum blah, blah, blah ...
      </p>

      <h3>DEVELOPMENT CONSULTING SERVICES</h3>
      <p>
        Developing the right product at the right time is essential to the
        success of a real estate project.
      </p>

      <p>
        Because we have an intimate knowledge of the Inland Empire, we can
        assist you in your decision from the very beginning by guiding you
        during the land acquisition phase through the ribbon cutting at the
        completed project.
      </p>

      <p>
        Because of our daily involvement in the Inland Empire, we know what it
        takes to guide a project through the complex governmental approval
        process. We can assist you in the selection of the various consultants
        needed to complete the environmental and technical aspects of your
        project as well as help you select a contractor to construct the
        improvements.
      </p>

      <p>
        If you own raw land or improved property and are considering
        re-evaluating its current status in relation to the market, we can
        provide valuable, timely information and suggestions which you can use
        to complete your analysis.
      </p>
      <br />
      <h3>This might be a good place to insert some listings</h3>
      <p>
        Pictures, maps, basic info about each listing. Perhaps a link to more
        information. I'll include a method for easily adding or deleting or
        modifying your listings.
      </p>
      <p>
        Maybe I can include a simple search function for the listings. Not as
        comprehensive as LoopNet but good enough for searching through a small
        number of listings.
      </p>
    </div>
  </div>
  </div>
</div>


