<div id="about" class="container-fluid">
  <div class="row"></div> <!-- the empty row is to prevent mytopmargin from pushing the background picture down -->
  <div class="row mytopmargin justify-content-center">
    <div class="col">
      <div class="my-secondary">
        <h1>ABOUT US</h1>
      </div>
    </div>
  </div>

  <div class="row mypad justify-content-center">
    <div class="col-lg-4 my-primary">
      <h3>History and Background Information</h3>
      <p>
        The principals of Delmar have been involved in the Commercial Real
        Estate Industry in California since 1981. Beginning with the property
        management side of the industry, Delmar quickly grew to have depth of
        experience in project development, brokerage and receivership services.
        Our experience has given us the disciplines necessary to be responsible,
        timely and accurate Real Estate Professionals for Institutions and
        Individual Investors. Along with Delmar's staff of well qualified
        professionals and our conservative approach we feel that long term
        planning, years of experience and our financial strength has made Delmar
        a valuable asset to it's clients. We feel your Company can benefit from
        Delmar's experience and reputation. We look forward to the opportunity
        to show you how as a team we can accomplish your short and long term
        goals.
      </p>
    </div>
    <div class="col-lg-4 my-primary">
      <h3>Commitment</h3>
      <p>
        At Delmar, we understand that hard work, careful planning and precise
        execution combined with timely and quality service are necessary to
        succeed. We must be well prepared and work harder than our competitors
        to succeed. Delmar was named "Property Manager of the Year" by Citibank
        Real Estate, Western Division and also received design and
        beautification awards for several projects. Delmar believes that
        commitment to the job goes beyond the basic mechanics of the business.
        Taking that extra step to set up tenant retention programs, make
        analysis of the marketplace and return a simple phone call are not extra
        steps for Delmar but our duty to our clients. Just as you take your
        investment seriously, we take our commitment to high quality service
        seriously.
      </p>
    </div>
  </div>
  <div class="row mypad justify-content-center">
    <div class="col-lg-4 my-primary">
      <h3>Regional Knowledge</h3>
      <p>
        Delmar is a Full Service Real Estate Company located in Southern
        California with it's corporate headquarters in the Inland Empire and a
        second office in Los Angeles County. We have acquired valuable knowledge
        and experience in the business culture, lifestyle, weather and politics
        of this area through our years of involvement in this region. We have
        established strong business and personal relationships and contacts with
        institutional lenders, brokers, and a variety of subcontractors and
        vendors necessary for us to offer high quality service for our clients.
        Moreover the length of time we have been in this market has established
        us as a highly qualified real estate company with a noteworthy list of
        clients. Survival in this volatile business is dependent on client
        retention and referrals. Our reputation of reliability, quick response
        and accurate reporting allows us to deliver to our clients excellent
        value for money spent. With Delmar's reputation established in this area
        over the last decade and a half, we have secured permanence in this area
        that will benefit our clients in all aspects of their commercial real
        estate needs.
      </p>
    </div>
    <!-- <div class="col-lg-4 my-primary"> -->
    <!-- </div> -->
  </div>
</div>
