<div id="contact" class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <!-- <div class="block-center text-center"> -->
        <div class="col-lg-12 mypad my-secondary my-title-text myrounded">
          <span>CONTACT US</span>
        </div>
      </div>

      <br>

      <!-- Start Office Address & Phone -->
      <div class="row one-contact justify-content-center myrounded">
        <div class="col-lg-4 my-primary mypad">
          <p>Office Address and Phone Number</p>
          <address>
            10300 4th Street Suite 200<br />
            Rancho Cucamonga, CA 91730<br />
            Phone: (909) 989-8988<br />
          </address>
          <p>CA Dept of Real Estate Lic# 01225119</p>
        </div>
      </div>
      <!-- End Office Address & Phone -->

      <br />

      <!-- Start contacts loop -->
      <div *ngFor="let contact of contacts">
        <div class="row one-contact my-primary">

          <div class="col-lg-5">
              <p class="contactname">{{ contact.fullName }}</p>
              <span *ngIf="contact.position">Position: {{ contact.position }} <br />
              </span>
              <span *ngIf="contact.specialization">Specializing in: {{ contact.specialization }}</span>
            </div>
          <div class="col-lg-5">
              <p>
                  <span *ngIf="contact.phoneOffice">Office: {{ contact.phoneOffice }} <br /></span>
                  <span *ngIf="contact.phoneMobile">Mobile: {{ contact.phoneMobile }}</span>
                </p>
                <p *ngIf="contact.email">
                  <a href="mailto:{{ contact.email }}">E-Mail {{ contact.fullName }} at
                    {{ contact.email }}</a>
                </p>
              </div>
          <div class="col-lg-2">
            oops!
          </div>
          <div class="col-lg-4">
          </div>
          <div class="row">
            <p *ngIf="contact.photoUrl">
              <img src="assets/staffpictures/{{ contact.photoUrl }}" alt="Picture of  {{ contact.fullName }}"
                class="contact-image img-responsive" />
            </p>
            <p>
            </p>
          </div>
          <div class="col-lg-8" *ngIf="contact.blurb" innerHtml="{{ contact.blurb }}"></div>
        </div>
        <br>
      </div>
      <!-- End contacts loop -->





      <!-- Start contacts loop -->
      <div *ngFor="let contact of contacts">
        <div class="row one-contact my-primary">
          <div class="col-lg-4">
            <p *ngIf="contact.photoUrl">
              <img src="assets/staffpictures/{{ contact.photoUrl }}" alt="Picture of  {{ contact.fullName }}"
                class="contact-image img-responsive" />
            </p>
            <p class="contactname">{{ contact.fullName }}</p>
            <p>
              <span *ngIf="contact.position">Position: {{ contact.position }} <br />
              </span>
              <span *ngIf="contact.specialization">Specializing in: {{ contact.specialization }}</span>
            </p>
            <p>
              <span *ngIf="contact.phoneOffice">Office: {{ contact.phoneOffice }} <br /></span>
              <span *ngIf="contact.phoneMobile">Mobile: {{ contact.phoneMobile }}</span>
            </p>
            <p *ngIf="contact.email">
              <a href="mailto:{{ contact.email }}">E-Mail {{ contact.fullName }} at
                {{ contact.email }}</a>
            </p>
          </div>
          <div class="col-lg-8" *ngIf="contact.blurb" innerHtml="{{ contact.blurb }}"></div>
        </div>
      </div>
      <!-- End contacts loop -->
    </div>
  </div>
</div>
