<nav NgxNavbarDynamicExpand class="navbar navbar-expand-xl">
    <a class="navbar-brand active" href="#">
    Delmar
  </a>
  <div class="my-navbar">
   <button
    class="navbar-toggler custom-toggler"
    type="button"
    (click)="collapse.toggle()"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation" >

    <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
      <i class="fas fab-bars text-black"> </i>
    </span>
  </button>
  <ngx-navbar-collapse id="navbarNavDropdown" #collapse="ngxNavbarCollapse">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" [routerLink]="['/commercial']">Commercial Real Estate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" [routerLink]="['/management']">Property Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" [routerLink]="['/receivership']" >Receivership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" [routerLink]="['/links']">Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" [routerLink]="['/contact']">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" [routerLink]="['/about']">About</a>
        </li>
      </ul>
    </ngx-navbar-collapse>
  </div>
</nav>
