.my-colorpage-primary{
  color: black;
  background-color: white;
}

.my-colorpage-secondary {
  color: white;
  background-color: gray;
}

.my-colorsetname-minwidth {
  min-width: 400px;
}

.my-colorsetdescription-minwidth {
  min-width: 700px;
}

hr {
  color: black;
  background-color: black;
  height: 1;
  border: 1px solid black;
}
