/* You can add global styles to this file, and also import other style files */
:root {
  --my-primary-color: #eeeee7;
  --my-primary-bg: #0f3193;
  --my-secondary-color: #eeeee7;
  --my-secondary-bg: #959595;
  --my-secondary-bg2: #2c2929;
  --my-info-color: #09576e;
  --my-info-bg: white;
  --my-brand-color: blue;
  --my-brand-bg: white;
  --my-navbar-color: white;
  --my-navbar-color-active: #868181;
  --my-navbar-bg: #0f3193;
}

body {
  font-family: "Montserrat";
  /* text-align: center; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
  text-align: center;
}

#home {
  background-image: url("./assets/backgrounds/home.jpg");
  background-size: cover;
  min-height: 900px;
}

#contact {
  background-image: url("./assets/backgrounds/contact.jpg");
  background-size: cover;
  min-height: 900px;
}

#links {
  background-image: url("./assets/backgrounds/links.jpg");
  background-size: cover;
  min-height: 900px;
}

#receivership {
  background-image: url("./assets/backgrounds/receivership.jpg");
  background-size: cover;
  min-height: 900px;
}

#management {
  background-image: url("./assets/backgrounds/management.jpg");
  background-size: cover;
  min-height: 900px;
}

#commercial {
  background-image: url("./assets/backgrounds/commercial.jpg");
  background-size: cover;
  min-height: 900px;
}

#about {
  background-image: url("./assets/backgrounds/about.jpg");
  background-size: cover;
  min-height: 900px;
}


#footer {
  margin-top: 20px;
}

.dcre-main-container {
  padding: 0 5% 0 5%;
}

.dcre-top-pad {
  height: 300px;
}

.homecarouselitem {
  display: block;
  object-fit: contain;
  height: 600px;
  margin: 2% auto;
}
.dcre-hdr-picture {
  display: block;
  object-fit: contain;
  width: 100%;
  margin: 0% auto;
  margin-left: auto;
  margin-right: auto;
}

.mytopmargin {
  margin-top: 150px;
}

.mypad {
  padding: 1em;
}

.myrounded{
  border-radius: 15px;
  margin-left: 1px;
  margin-right: 1px;
}

.myclear {
  background-color: red;
  color: white;
}

.my-title-text {
  color: var(--my-secondary-color);
  background-color: var(--my-secondary-bg);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.one-contact {
  padding: 1% 1%;
}
.contactname {
  text-align: left;
  font-size: 120%;
}

.contact-image {
  /* display: inline-flex; */
  /* display: block; */
  object-fit: fill;
  margin-left: 0px;
  /* margin-right: auto; */
  height: 250px;
  max-width: 90%;
  /* width: 95%; */
  /* object-position: center center; */
}

.mynavbarbrand {
  font-size: 2.25rem;
  color: var(--my-brand-color);
  background: var(--my-brand-bg);
    /* background-color: rgb(98, 110, 133); */
}

.navbar-brand {
  font-size: 2.25rem !important;
  color: var(--my-brand-color) !important;
  background: var(--my-brand-bg) !important;
    /* background-color: rgb(98, 110, 133); */
}

.my-navbar {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.nav-item .nav-link .nav-custom {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.nav-item {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.nav-link {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.nav-custom {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.router-link-active {
  color: var(--my-navbar-color-active) !important;
}

.my-primary-color {
  color: var(--my-primary-color);
}

.my-primary-bg {
  background: var(--my-primary-bg);
}

.my-primary-color-as-bg {
  background: var(--my-primary-color);
}

.my-primary-bg-as-color {
  color: var(--my-primary-bg);
}

.my-primary {
  color: var(--my-primary-color);
  background: var(--my-primary-bg);
  padding-top: 10px;
  padding-bottom: 20px;
}

.my-primary-no-pad {
  color: var(--my-primary-color);
  background: var(--my-primary-bg);
}

.my-primary-inverted {
  color: var(--my-primary-bg);
  background: var(--my-primary-color);
}

.my-secondary-color {
  color: var(--my-secondary-color);
}

.my-secondary-bg {
  background: var(--my-secondary-bg);
}

.my-secondary-color-as-bg {
  background: var(--my-secondary-color);
}

.my-secondary-bg-as-color {
  color: var(--my-secondary-bg);
}

.my-secondary {
  color: var(--my-secondary-color);
  background: var(--my-secondary-bg);
  padding-top: 10px;
  padding-bottom: 20px;
}

.my-secondary-no-pad {
  color: var(--my-secondary-color);
  background: var(--my-secondary-bg);
}

.my-secondary-inverted {
  background: var(--my-secondary-color);
  color: var(--my-secondary-bg);
}

.my-info {
  color: var(--my-info-color);
  background: var(--my-info-bg);
}

.my-info-inverted {
  color: var(--my-info-bg);
  background: var(--my-info-color);
}

.my-info-color {
  color: var(--my-info-color);
}

.my-info-bg {
  background: var(--my-info-bg);
}

.my-info-color-as-bg {
  background: var(--my-info-color);
}

.my-info-bg-as-color {
  color: var(--my-info-bg);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
