/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Montserrat";
  /* text-align: center; */
  --my-primary-color: white;
  --my-primary-bg: rgb(4, 4, 77);
  --my-secondary-color: yellow;
  --my-secondary-bg: purple;
  --my-info-color: purple;
  --my-info-bg: white;
  --my-brand-color: blue;
  --my-brand-bg: white;
  --my-navbar-color: white;
  --my-navbar-bg: rgb(119, 119, 129);
  --my-fake-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
  text-align: center;
}

.dcre-main-container {
  padding: 0 5% 0 5%;
}

.dcre-top-pad {
  height: 300px;
}

.homecarouselitem {
  display: block;
  object-fit: contain;
  height: 600px;
  margin: 2% auto;
}
.dcre-hdr-picture {
  display: block;
  object-fit: contain;
  width: 90%;
  margin: 2% auto;
  margin-left: auto;
  margin-right: auto;
}

.mypad {
  padding: 1.5em 1em 0 1em;
}

.one-contact {
  padding: 1% 1%;
}
.contactname {
  text-align: left;
  font-size: 2rem;
}

.contact-image {
  /* display: inline-flex; */
  /* display: block; */
  object-fit: contain;
  margin-left: 0px;
  /* margin-right: auto; */
  height: 250px;
  max-width: 90%;
  /* width: 95%; */
  /* object-position: center center; */
}

.contact-blurb {
  margin-left: 10px;
  margin-right: auto;
}

.mynavbarbrand {
  font-size: 2.25rem;
  color: var(--my-brand-color);
  background: var(--my-brand-bg);
    /* background-color: rgb(98, 110, 133); */
}

.navbar-brand {
  font-size: 2.25rem !important;
  color: var(--my-brand-color) !important;
  background: var(--my-brand-bg) !important;
    /* background-color: rgb(98, 110, 133); */
}

.my-navbar {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.nav-item .nav-link .nav-custom {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.nav-item {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.nav-link {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.nav-custom {
  color: var(--my-navbar-color) !important;
  background: var(--my-navbar-bg) !important;
}

.router-link-active {
  color: #f10a0a !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


#footer {
  margin-top: 20px;
}

.my-primary {
  color: var(--my-primary-color);
  background: var(--my-primary-bg);
}

.my-secondary {
  color: var(--my-secondary-color);
  background: var(--my-secondary-bg);
  padding-top: 10px;
  padding-bottom: 0px;
}

.my-info {
  color: var(--my-info-color);
  background: var(--my-info-bg);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
