<div class="container-fluid" id="home">
  <div class="row">
    <div class="col-lg-8">

      <div class="align-self-center my-secondary">
            <h1>
              We provide professional service for all your commercial real estate, Property Management and Receivership needs.
            </h1>
          </div>

<div class="my-primary">
          <img
        class="dcre-hdr-picture"
        alt="Picture of Delmar office building"
        src="assets/carousel/slide0.jpg"
      />

    </div>
    </div>
  </div>
</div>
